
    <div class="container margin">
        <h2>Search Image</h2>
        <form >
          <input type="search"  (keyup)="search($event.target.value)">
          
        </form>
        <div class="btn btn-primary" >
         <button   routerLink ="/favImages" mat-button  mat-dialog-close class="btn btn-primary searchButton" type="button">Go to Favorities</button>
      </div>

        <div class="row">
        <div class ="col-md-2 mydivouter" *ngFor = "let image of response; let i=index;">
        <img src='{{image.urls.small}}' style="height:200px; width:200px;"/>
        <input type="button" class="mybuttonoverlap btn btn-info" (click)="addSelected(i)" value="Add Favourite"/>
      </div>
        </div>
        </div>
