/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* .mat-dialog-container{
    position: fixed;
    top: 0 !important;
    left: 5 !important;
    width :25% !important;
    height: 25% !important;
} */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
